<%= render 'layouts/errors', object: @fee_receipt %>
<%= form_for(@fee_receipt, html: {class: 'form-horizontal'}) do |f| %>

  <div class="field">
    <%= f.label :student_id %><br>
    <%= f.collection_select :student_id,Student.all,:id,:enrollment,{} %>
  </div>
  <div class="field">
    <%= f.label :semester_id %><br>
    <%= f.collection_select :semester_id ,Semester.all,:id,:id,{}%>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :receipt_no %><br>
    <%= f.number_field :receipt_no %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
