<div class="page-header">
  <h1>Listing Fee Receipts</h1>
</div>

<table class="table table-hover table-stripped">
  <thead>
    <tr>
      <th>Student</th>
      <th>Semester</th>
      <th>Date</th>
      <th>Receipt no</th>
      <th>Amount</th>
      <th>Description</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @fee_receipts.each do |fee_receipt| %>
      <tr>
        <td><%= fee_receipt.student.enrollment %></td>
        <td><%= fee_receipt.semester.id %></td>
        <td><%= fee_receipt.date %></td>
        <td><%= fee_receipt.receipt_no %></td>
        <td><%= fee_receipt.amount %></td>
        <td><%= fee_receipt.description %></td>
        <td><%= link_to 'Show', fee_receipt ,class: 'btn btn-xs btn-info'%></td>
        <td><%= link_to 'Edit', edit_fee_receipt_path(fee_receipt) ,class: 'btn btn-xs btn-success'%></td>
        <td><%= link_to 'Destroy', fee_receipt, method: :delete, data: { confirm: 'Are you sure?' } ,class: 'btn btn-xs btn-danger'%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr/>

<%= link_to 'New Fee receipt', new_fee_receipt_path ,class:'btn btn-sm btn-success'%>
