<p>
  <strong>Name:</strong>
  <%= @faculty.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @faculty.email %>
</p>

<p>
  <strong>College:</strong>
  <%= @faculty.college_id %>
</p>

<p>
  <strong>Address:</strong>
  <%= @faculty.address %>
</p>

<%= link_to 'Edit', edit_faculty_path(@faculty) %> |
<%= link_to 'Back', list_faculty_path %>
