<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false">
</script>
<script>
  function initialize() {
    var myLatlng = new google.maps.LatLng(23.131812,77.5319786),
    mapOptions = {
        zoom: 15,
        center: myLatlng,
        mapTypeId: google.maps.MapTypeId.ROADMAP
        }
  var map = new google.maps.Map(document.getElementById('map'), mapOptions),
  contentString = 'Some address here..',
  infowindow = new google.maps.InfoWindow({
      content: contentString,
      maxWidth: 500
  });
  
  var marker = new google.maps.Marker({
      position: myLatlng,
      map: map
  });
  
  google.maps.event.addListener(marker, 'click', function() {
      infowindow.open(map,marker);
  });
  
  google.maps.event.addDomListener(window, "resize", function() {
      var center = map.getCenter();
      google.maps.event.trigger(map, "resize");
      map.setCenter(center);
      });
  }

  google.maps.event.addDomListener(window, 'load', initialize);
</script>


<div class="row">
  <h1 class="text-center">Find us here</h1>
      <hr/>
    <div class="text-center seperator col-sm-3 col-md-3">
      <h2>Bhopal</h2>
          <address>
            <strong>Globus Group of Institutions</strong><br>
             Bangrasia Chauraha<br>
            Bhopal<br>
            Madhya Pradesh<br>
            India<br>
            Zip Code 462045<br>
            <abbr title="Phone">Ph:</abbr> 0755 5681666
          </address>
    </div>
    <div class="col-md-9 col-sm-9">
      <div id="map_container">
        <div id="map" ></div>
      </div>
    </div>
</div>
    <h1 class="text-center">Message us</h1>
     <hr/>
    <%= form_tag('sendMessage', class: "form-horizontal") do %>
      <fieldset>
        
        <div class="form-group">
          <%= label_tag(:name, 'Name' ,class: 'col-lg-2 col-md-2 col-sm-2 control-label') %>
          <div class="col-md-10 col-lg-10 col-sm-10">
            <%= text_field_tag(:name, '',placeholder: 'What is your name?' , class: 'form-control') %>
          </div>
        </div>
        
        <div class="form-group">
          <%= label_tag(:email, 'Email' ,class: 'col-lg-2 col-md-2 col-sm-2 control-label') %>
          <div class="col-md-10 col-lg-10 col-sm-10">
            <%= text_field_tag(:email, '',placeholder: 'What is your email id?' , class: 'form-control') %>
          </div>
        </div>
        
        <div class="form-group">
          <%= label_tag(:subject, 'Subject' ,class: 'col-lg-2 col-md-2 col-sm-2 control-label') %>
          <div class="col-md-10 col-lg-10 col-sm-10">
            <%= text_field_tag(:subject, '',placeholder: 'What about mail is?' , class: 'form-control') %>
          </div>
        </div>
        
        <div class="form-group">
          <%= label_tag(:message, 'Message' ,class: 'col-lg-2 col-md-2 col-sm-2 control-label') %>
          <div class="col-md-10 col-lg-10 col-sm-10">
            <%= text_area_tag(:email, '',placeholder: 'Write here your message.', rows: 8, class: 'form-control') %>
          </div>
        </div>
        
        
        <div class="form-group">
          <div class="col-md-offset-2 col-sm-10 col-sm-offset-2 col-md-10 col-lg-offset-2 col-lg-10">
            <%= button_tag "Cancel", type: :reset ,class: 'btn btn-danger'%>
            <%= submit_tag "Send Message", class: 'btn btn-success' %>
          </div>
        </div>
        
      </fieldset>
    <% end %>
