<div id="banner" class="carousel slide " data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#banner" data-slide-to="0" class="active"></li>
    <li data-target="#banner" data-slide-to="1"></li>
    <li data-target="#banner" data-slide-to="2"></li>
    <li data-target="#banner" data-slide-to="3"></li>
    <li data-target="#banner" data-slide-to="4"></li>
    <li data-target="#banner" data-slide-to="5"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="item active">
           <%= image_tag('a.png' , :size => "1200x500") %>
           <div class="carousel-caption">
            <h2>BITS</h2>
            <p>Main Campus of Globus Group</p>
            <%= link_to 'Know More', '#bits',class: 'btn btn-sm btn-success' %>
          </div>
    </div>
    <div class="item">
          <%= image_tag('b.png', :size => "1200x500") %>
          <div class="carousel-caption">
            <h2>BIT</h2>
            <p>Second Campus of Globus Group</p>
            <%= link_to 'Know More', '#bit',class: 'btn btn-sm btn-info' %>
          </div>
    </div>
    <div class="item">
          <%= image_tag('c.png', :size => "1200x500") %>
          <div class="carousel-caption">
            <h2>Buses</h2>
            <p>Large number of Buses for every route</p>
            <%= link_to 'Know More', '',class: 'btn btn-sm btn-danger' %>
          </div>
    </div>
    <div class="item">
          <%= image_tag('d.png', :size => "1200x500") %>
          <div class="carousel-caption">
            <h2>GEC</h2>
            <p>Third Campus of Globus Group</p>
            <%= link_to 'Know More', '#gec',class: 'btn btn-sm btn-warning' %>
          </div>
    </div>
    <div class="item">
          <%= image_tag('e.png', :size => "1200x500") %>
          <div class="carousel-caption">
            <h2>BITS - Pharmacy</h2>
            <p>Pharmacy Campus of GGI Group</p>
            <%= link_to 'Know More', '',class: 'btn btn-sm btn-default' %>
          </div>
    </div>
    <div class="item">
          <%= image_tag('f.png', :size => "1200x500") %>
          <div class="carousel-caption">
            <h2>BITM</h2>
            <p>Fourth Campus of Globus Group</p>
            <%= link_to 'Know More', '#bitm',class: 'btn btn-sm btn-success' %>
          </div>
    </div>
  </div>
</div>
<div id="bits"class="jumbotron seperator">
  <div class="row">
    <div class="col-md-3">
      <h1>BITS</h1>
      <p>First Campus of GGI Group</p>
    </div>
    <div class="col-md-9">
      <p>
        Bhopal Institute of Technology & Science (BITS) is located in Bhopal, Madhya Pradesh. BITS Bhopal was established in the year 2002. BITS is committed to provide quality education with a balanced approach to theoretical and experimental learning in the field of engineering studies. BITS Bhopal is affiliated to the Rajiv Gandhi Proudyogiki Vishwavidyalaya and offers courses approved by the All India Council of Technical Education (AICTE), New Delhi.
      </p>
      <hr/>
      <p >
        PopularName: BITS<br/>
        Course: BE/B.Tech<br/>
        Establishment: 2002<br/>
        Management: Private College<br/>
        Affiliated To: Rajiv Gandhi Proudhyogiki Vishwavidyalaya
      </p>
    </div>
  </div>
  
</div>

<div id="bit"class="jumbotron seperator ">
  <div class="row">
    <div class="col-md-3 col-md-push-9">
      <h1>BIT</h1>
      <p>Second Campus of GGI Group</p>
    </div>
    <div class="col-md-9 col-md-pull-3 text-left">
      <p>
        Bhopal Institute of Technology was established in the year 2007 at Village, Bhopal, Madhya Pradesh. Bhopal Institute of technology is approved by the All India Council for Technical Education (AICTE), New Delhi.
      </p>
      <hr/>
      <p >
        PopularName: BIT<br/>
        Course: BE/B.Tech<br/>
        Establishment: 2007<br/>
        Management: Private College<br/>
        Affiliated To: Rajiv Gandhi Proudhyogiki Vishwavidyalaya
      </p>
    </div>
  </div>
</div>

<div id="gec"class="jumbotron seperator">
  <div class="row">
    <div class="col-md-3">
      <h1>GEC</h1>
      <p>Third Campus of GGI Group</p>
    </div>
    <div class="col-md-9">
      <p>
        Globus Engineering College was established in the year 2002 at Village, Bhopal, Madhya Pradesh. Bhopal Institute of technology is approved by the All India Council for Technical Education (AICTE), New Delhi.
      </p>
      <hr/>
      <p >
        PopularName: GEC<br/>
        Course: BE/B.Tech<br/>
        Establishment: 2002<br/>
        Management: Private College<br/>
        Affiliated To: Rajiv Gandhi Proudhyogiki Vishwavidyalaya
      </p>
    </div>
  </div>
</div>

<div id="bitm"class="jumbotron seperator text-right">
  <h1>BITM</h1>
  <p>Fourth Campus of GGI Group</p>
</div>