<div id="banner" class="carousel slide " data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#banner" data-slide-to="0" class="active"></li>
    <li data-target="#banner" data-slide-to="1"></li>
    <li data-target="#banner" data-slide-to="2"></li>
    <li data-target="#banner" data-slide-to="3"></li>
    <li data-target="#banner" data-slide-to="4"></li>
    <li data-target="#banner" data-slide-to="5"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="item active">
           <%= image_tag('a.png' , :size => "1200x500") %>
           <div class="carousel-caption">
            <h2>BITS</h2>
            <p>Main Campus of Globus Group</p>
            <%= link_to 'Know More', bits_path,class: 'btn btn-sm btn-success' %>
          </div>
    </div>
    <div class="item">
          <%= image_tag('b.png', :size => "1200x500") %>
          <div class="carousel-caption">
            <h2>BIT</h2>
            <p>Second Campus of Globus Group</p>
            <%= link_to 'Know More', bits_path,class: 'btn btn-sm btn-info' %>
          </div>
    </div>
    <div class="item">
          <%= image_tag('c.png', :size => "1200x500") %>
          <div class="carousel-caption">
            <h2>Buses</h2>
            <p>Large number of Buses for every route</p>
            <%= link_to 'Know More', '',class: 'btn btn-sm btn-danger' %>
          </div>
    </div>
    <div class="item">
          <%= image_tag('d.png', :size => "1200x500") %>
          <div class="carousel-caption">
            <h2>GEC</h2>
            <p>Third Campus of Globus Group</p>
            <%= link_to 'Know More', gec_path,class: 'btn btn-sm btn-warning' %>
          </div>
    </div>
    <div class="item">
          <%= image_tag('e.png', :size => "1200x500") %>
          <div class="carousel-caption">
            <h2>BITS - Pharmacy</h2>
            <p>Pharmacy Campus of GGI Group</p>
            <%= link_to 'Know More', '',class: 'btn btn-sm btn-default' %>
          </div>
    </div>
    <div class="item">
          <%= image_tag('f.png', :size => "1200x500") %>
          <div class="carousel-caption">
            <h2>BITM</h2>
            <p>Fourth Campus of Globus Group</p>
            <%= link_to 'Know More', '#',class: 'btn btn-sm btn-success' %>
          </div>
    </div>
  </div>
</div>

<div class="notifications seperator">
  <h1>Notificatios</h1>
  <hr/>
  <div class="col-md-6 col-sm-6 ">
    <%= image_tag('f.png', :size => "300x125") %>
  </div>
  <div class="col-md-6 col-sm-6">
    <%= image_tag('f.png', :size => "300x125") %>
  </div>
  <div class="col-md-6 col-sm-6">
    <%= image_tag('f.png', :size => "300x125") %>
  </div>
  <div class="col-md-6 col-sm-6">
    <%= image_tag('f.png', :size => "300x125") %>
  </div>
</div>

<div class="news row ">
  
</div>