<div id="banner" class="carousel slide " data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#banner" data-slide-to="0" class="active"></li>
    <li data-target="#banner" data-slide-to="1"></li>
    <li data-target="#banner" data-slide-to="2"></li>
    <li data-target="#banner" data-slide-to="3"></li>
    <li data-target="#banner" data-slide-to="4"></li>
    <li data-target="#banner" data-slide-to="5"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="item active">
           <%= image_tag('a.png' , :size => "1200x500") %>
           <div class="carousel-caption">
            <h2>BITS</h2>
            <p>Main Campus of Globus Group</p>
            <%= link_to 'Know More', bits_path,class: 'btn btn-sm btn-success' %>
          </div>
    </div>
    <div class="item">
          <%= image_tag('b.png', :size => "1200x500") %>
          <div class="carousel-caption">
            <h2>BIT</h2>
            <p>Second Campus of Globus Group</p>
            <%= link_to 'Know More', bits_path,class: 'btn btn-sm btn-info' %>
          </div>
    </div>
    <div class="item">
          <%= image_tag('c.png', :size => "1200x500") %>
          <div class="carousel-caption">
            <h2>Buses</h2>
            <p>Large number of Buses for every route</p>
            <%= link_to 'Know More', '',class: 'btn btn-sm btn-danger' %>
          </div>
    </div>
    <div class="item">
          <%= image_tag('d.png', :size => "1200x500") %>
          <div class="carousel-caption">
            <h2>GEC</h2>
            <p>Third Campus of Globus Group</p>
            <%= link_to 'Know More', gec_path,class: 'btn btn-sm btn-warning' %>
          </div>
    </div>
    <div class="item">
          <%= image_tag('e.png', :size => "1200x500") %>
          <div class="carousel-caption">
            <h2>BITS - Pharmacy</h2>
            <p>Pharmacy Campus of GGI Group</p>
            <%= link_to 'Know More', '',class: 'btn btn-sm btn-default' %>
          </div>
    </div>
    <div class="item">
          <%= image_tag('f.png', :size => "1200x500") %>
          <div class="carousel-caption">
            <h2>BITM</h2>
            <p>Fourth Campus of Globus Group</p>
            <%= link_to 'Know More', '#',class: 'btn btn-sm btn-success' %>
          </div>
    </div>
  </div>
</div>
<div class="jumbotron seperator">
  <h1 class="text-center">
    Welcome to Globus Group of Institutions
  </h1>
  <p class="text-justify seperator">
    The <strong>Globus Group of Institutions[GGI]</strong> welcomes all the visitors to its campus on Bhojpur Road, Near CRPF Camp, Bangrasia, Bhopal(MP). The Institute covers about 60,000sqm constructed area surrounded by lush green field of 650 acre open space to provide world class amenities and supportive infrastructure to our students.
  </p>
</div>
<div class="row">
  <div class="col-md-9">
    <div class="panel panel-info">
        <div class="panel-heading">
          <h3  class="panel-title">FROM CHAIRMAN DESK</h3>
        </div>
        <div class="panel-body">
          <div class="col-md-9 col-sm-9 ">
            <p class="text-justify tetx-success seperator">We at <strong>GLOBUS GROUP OF ENGINEERING - BHOPAL</strong> bring transformation across the community through World Class Technical Education. We have the legacy of striving to provide the very best to our students through untiring efforts put up by our team of trailblazing Directors, Faculty members and Technical staff to carve a niche in the domain of Technical Education of the state of Madhya Pradesh.
            </p>
          </div>
          <div class="col-md-3 col-sm-3 seperator hidden-xs">
            <%= image_tag("chairman.jpg" ,:size => '100x90' ,class: 'img-rounded center-block') %>
          </div>
        </div>
        
    </div>
    <div class="panel panel-success">
        <div class="panel-heading">
          <h3  class="panel-title">VISSION AND MISSION</h3>
        </div>
       <div class="panel-body">
          <div class="col-md-9 col-sm-9 ">
            <p class="text-justify seperator">Globus aims to lead the nation in research and education. We seek to do this in ways which benefit society on a national and a global scale .Globus Group strives to create knowledge, to open the minds of students to that knowledge, and to enable students to take best advantage of their educational opportunities. Globus Group embodies the spirit of excellence in teaching and research value creation through economic, social, and environmental development targeted to an increasingly global and multicultural world.
            </p>
          </div>
          <div class="col-md-3 col-sm-3 seperator hidden-xs ">
            <%= image_tag("vision.jpg" ,:size => '135x120' ,class: 'img-rounded center-block') %>
          </div>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">QUALITY POLICY</h3>
        </div>
        <div class="panel-body">
            <p class="text-justify  seperator">The Institute is committed to make the students technologically superior and ethically strong. We strive to instill high patterns of discipline and character building through our well framed Quality Management System.
            </p>
        </div>
    </div>
  </div>
  <div class="col-md-3 hidden-sm hidden-xs">
    <div class="panel panel-primary">
      <div class="panel-body">
        <%= link_to 'For Admissions - Apply Online','' %>
      </div>
    </div>
    <h3><strong>Institutions Group</strong></h3>
    <hr/>
    <div class="list-group">
      <a href="/bits" class="list-group-item">
        Bhopal Institute of Technology & Science
      </a>
      <a href="/bit" class="list-group-item seperator">
        Bhopal Institute of Technology
      </a>
      <a href="#" class="list-group-item seperator">
        Bhopal Institute of Technology & Management
      </a>
      <a href="#" class="list-group-item seperator">
        Bhopal Institute of Technology & Science - Pharmacy
      </a>
      <a href="/gec" class="list-group-item seperator">
        Globus Engineering College
      </a>
      <a href="#" class="list-group-item seperator">
        Globus College of Pharmacy
      </a>
    </div>
  </div> 
</div>
<div class="row">
  <div class="col-md-3 col-sm-3">
    <div class="thumbnail text-center">
        <%= image_tag('aicte.jpg',:size => '200x200',class: 'img-rounded center-block') %>
        <div class="caption">
          <h4 ><strong>Approved by AICTE</strong></h4>
          <p>All India Council of Technical Education ( New Delhi)</p>
        </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-3">
    <div class="thumbnail text-center">
        <%= image_tag('govtmp.jpg',:size => '107x105',class: 'img-rounded center-block') %>
        <div class="caption">
          <h4 ><strong>Approved by AICTE</strong></h4>
          <p>All India Council of Technical Education ( New Delhi)</p>
        </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-3">
    <div class="thumbnail text-center">
        <%= image_tag('pharmacy.jpg',:size => '107x105',class: 'img-rounded center-block') %>
        <div class="caption">
          <h4 ><strong>Approved by AICTE</strong></h4>
          <p>All India Council of Technical Education ( New Delhi)</p>
        </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-3">
    <div class="thumbnail text-center">
        <%= image_tag('rgpv.jpg',:size => '100x100',class: 'img-rounded center-block') %>
        <div class="caption">
          <h4 ><strong>Approved by AICTE</strong></h4>
          <p>All India Council of Technical Education ( New Delhi)</p>
        </div>
    </div>
  </div>

</div>
 