<%= form_tag({:action => 'update'},html:{class: 'form-horizontal' })do%>
    <div class="form-group">
      <input type="hidden" name="student_id" value="<%= @student.id %>" >
      <input type="hidden" name="semester_id" value="<%= @student.semester_id %>">
    </div>
    
    <% @subjects.each do |subject| %>
      <div class="form-group">
        <%= label_tag(:grade_id ,subject.name + ' - ' + subject.subject_type.name, class: 'col-md-4 col-sm-4') %>
        <input type="hidden" name="subject_id[]" value="<%= subject.id %>">
        <div class="col-sm-8 col-md-8 ">
          <select name="result[grade_id][]" class="form-control">
            <option value="1">A+</option>
            <option value="2">A</option>
            <option value="3">B+</option>
            <option value="4">B</option>
            <option value="5">C+</option>
            <option value="6">C</option>
            <option value="7">D</option>
            <option value="8">F</option>
            <option value="9">I</option>
            <option value="10">W</option>
          </select>
        </div>
      </div>
    <% end %>
  <div class="form-group">
    <div class="col-sm-8 col-sm-offset-4 col-md-8 col-md-offset-4">
      <%= submit_tag class: 'btn btn-danger btn-block'  %>
    </div>
  </div>
<% end %>