<p id="notice"><%= notice %></p>

<p>
  <strong>Exam:</strong>
  <%= @result.exam_id %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @result.subject_id %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @result.subject_id %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @result.grade_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @result.status_id %>
</p>

<%= link_to 'Edit', edit_result_path(@result) %> |
<%= link_to 'Back', results_path %>
