<%= render 'layouts/errors', object: @subject %>
<%= form_for(@subject,html:{class: 'form-horizontal'}) do |f| %>

  <div class="form-group">
       <%= f.label(:name,'Subject Name',class: 'col-lg-2 col-sm-2 col-md-2 control-label') %>
       <div class="col-lg-10 col-sm-10 col-md-10">
         <%= f.text_field(:name, placeholder: 'Subject Name',class: 'form-control') %>
       </div>
  </div>
  <div class="form-group">
       <%= f.label(:code,'Subject Code',class: 'col-lg-2 col-sm-2 col-md-2 control-label') %>
       <div class="col-lg-10 col-sm-10 col-md-10">
         <%= f.text_field(:code, placeholder: 'Subject Code',class: 'form-control') %>
       </div>
  </div>
  <div class="form-group">
       <%= f.label(:semester_id,'Semseter', class: 'col-lg-2 col-md-2 col-sm-2 control-label') %>
       <div class="col-lg-10 col-sm-10 col-md-10">
         <%= f.collection_select :semester_id, Semester.all, :id, :name,{:prompt => true},{ :class => 'form-control'}  %>
       </div>
  </div>
  <div class="form-group">
       <%= f.label(:branch_id,'Branch', class: 'col-lg-2 col-md-2 col-sm-2 control-label') %>
       <div class="col-lg-10 col-sm-10 col-md-10">
         <%= f.collection_select :branch_id, Branch.all, :id, :name,{:prompt => true},{ :class => 'form-control'}  %>
       </div>
  </div>
  <div class="form-group">
       <%= f.label(:subject_type_id,'Subject Type', class: 'col-lg-2 col-md-2 col-sm-2 control-label') %>
       <div class="col-lg-10 col-sm-10 col-md-10">
         <%= f.collection_select :subject_type_id, SubjectType.all, :id, :name,{:prompt => true},{ :class => 'form-control'}  %>
       </div>
  </div>
  <div class="form-group">
       <%= f.label(:syllabus_id,'Syllabus Type', class: 'col-lg-2 col-md-2 col-sm-2 control-label') %>
       <div class="col-lg-10 col-sm-10 col-md-10">
         <%= f.collection_select :syllabus_id, Syllabus.all, :id, :name,{:prompt => true},{ :class => 'form-control'}  %>
       </div>
  </div>

  <div class="form-group">
    <div class="col-sm-10 col-sm-offset-2 col-md-10 col-md-offset-2">
      <%= f.submit class: 'btn btn-danger btn-block'  %>
    </div>
  </div>
<% end %>
